<div class="kaarten">
  <app-card shape="diamond" color='purple' [amount]='[0]' filled='full'></app-card>
  <app-card shape="diamond" color='purple' [amount]='[0,1]' filled='full'></app-card>
  <app-card shape="diamond" color='purple' [amount]='[0,1,2]' filled='full'></app-card>
  <app-card shape="diamond" color='purple' [amount]='[0]' filled='half'></app-card>
  <app-card shape="diamond" color='purple' [amount]='[0,1]' filled='half'></app-card>
  <app-card shape="diamond" color='purple' [amount]='[0,1,2]' filled='half'></app-card>
  <app-card shape="oval" color='red' [amount]='[0]' filled='half'></app-card>
  <app-card shape="oval" color='red' [amount]='[0,1]' filled='half'></app-card>
  <app-card shape="oval" color='red' [amount]='[0,1,2]' filled='half'></app-card>
  <app-card shape="oval" color='red' [amount]='[0,1,2]' filled='none'></app-card>
  <app-card shape="oval" color='red' [amount]='[0,1,2]' filled='full'></app-card>
  <app-card shape="squiggle" color='green' [amount]='[0,1,2]' filled='none'></app-card>
</div>